body {
  font: 10px sans-serif;
  shape-rendering: crispEdges; 

}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

#spiegazione{
	font-family: Verdana, sans-serif;
	text-align: center;
	font-size: 16px;
	color: #6CA8BD;

}

#titolo{
	font-family: Verdana, sans-serif;
	text-align: center;
	font-size: 16px;
}

#legenda {
	position: fixed;
	top: 300px; 
	right: 50px;

	/*sfondo tabella*/
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 3%, rgba(233,233,206,1) 58%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 3%,rgba(233,233,206,1) 58%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(252,255,244,1) 3%,rgba(233,233,206,1) 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
}

text{
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}